openai
uvicorn
pydantic
aiohttp
requests
Flask
flask-cors
langchain-ollama
langchain-core
langchain_text_splitters
langchain_community
langgraph
gunicorn
collections
datetime
sklearn
geopy
certifi
numpy
hyperbrowser
motor

